*.o
*.a
*.dis
cross-devel/as/pdp11-asm
cross-devel/as/pdp11-asm2
cross-devel/c2/c2
cross-devel/cc/pdp11-cc
cross-devel/cc/pdp11-pcc
cross-devel/ccom/c0
cross-devel/ccom/c1
cross-devel/ccom/cvopt
cross-devel/ccom/table.c
cross-devel/cpp/cpp
cross-devel/cpp/cpy.c
cross-devel/ld/pdp11-ar
cross-devel/ld/pdp11-disasm
cross-devel/ld/pdp11-ld
cross-devel/ld/pdp11-nm
cross-devel/ld/pdp11-size
cross-devel/ld/pdp11-strip
cross-devel/pcc/ccom
cross-devel/pcc/cgram.c
cross-devel/pcc/gram.in
cross-devel/pcc/pcclocal.h
cross-devel/pcc/pcctokens
fsutil/u6-fsutil
src/bin/cal
src/bin/cat
src/bin/clock
src/bin/cp
src/bin/date
src/bin/df
src/bin/echo
src/bin/ed
src/bin/halt
src/bin/ln
src/bin/ls
src/bin/mkdir
src/bin/mount
src/bin/mv
src/bin/od
src/bin/pwd
src/bin/rm
src/bin/rmdir
src/bin/sh
src/bin/stty
src/bin/sync
src/bin/umount
src/bin/wc
src/etc/fsck
src/etc/glob
src/etc/init
src/etc/mkfs
src/etc/mknod
src/root.bkd
src/stand/fdfmt
src/stand/fdgetrom
src/stand/fdinfo
src/stand/hello
src/sys/bkunix
src/sys/bkunix.map
src/sys/boot
